/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        /* --ring: 240 10% 3.9%; */
        --ring: 196, 83%, 55%;

        --radius: 1.00rem;

        /* Icon Colors Light Mode */
        --gold-main: hsl(46, 80%, 50%);
        --gold-highlight: hsl(46, 92%, 65%);
        --text: hsl(0, 0%, 25%);
        --text-quill: hsl(0, 0, 0);
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        /* --ring: 240 4.9% 83.9%; */
        --ring: 198, 60%, 35%;

        --theme-color-title: hsl(205, 84%, 27%);

        /* Icon Colors Dark Mode */
        --gold-main: hsl(46, 59%, 50%);
        --gold-highlight: hsl(46, 72%, 65%);
        --gold-shadow: #6f5b1c;
        --text: hsl(0, 0%, 88%);
        --text-quill: hsl(0, 0%, 88%);
        --Sparkles-1: hsl(42, 92%, 64%);
        --Sparkles-2: hsl(187, 79%, 45%);

        --Abstract-Profile-1: hsl(0, 0%, 67%);
        --Abstract-Profile-Lb: hsl(187, 91%, 70%);
        --Abstract-Profile-LA: #ff7f50;
        --Abstract-Profile-Lc: hsl(156, 100%, 50%);
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    html {
        scroll-behavior: smooth;
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
}

@layer utilities {

    /* Icon Global Animation: Draw Lines */
    @keyframes draw {
        to {
            stroke-dashoffset: 0;
        }
    }

    /* Icon Animation: Float */
    .float-anim {
        animation: float 3s ease-in-out infinite;
    }

    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-5px);
        }
    }

    /* Icon Global Animation: Glow */
    .glow-anim {
        animation: glowPulse 2s infinite alternate;
    }

    @keyframes glowPulse {
        from {
            stroke: var(--gold-highlight);
            filter: drop-shadow(0 0 0 transparent);
        }

        to {
            stroke: var(--gold-main);
            filter: drop-shadow(0 0 5px var(--gold-highlight));
        }
    }

    .AbstractProfile {
        height: 5.875rem;
    }
}

.time-display {
    font-size: 0.875rem;
}